.apropos {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-sm);
        padding: var(--spacing-xxl) 0;
    }

    .apropos__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}

.hero-apropos {
    .wrapper {
        position: relative;
        height: 90vh;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 70%;
    }

    .hero__media {
        position: absolute;
        width: 60%;
        bottom: 0;
        right: 0;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}
