.footer {
    .line {
        width: 100%;
        height: 3px;
        margin: var(--spacing-sm) 0 var(--spacing-md) 0;
        background-image: linear-gradient(
            to right,
            #fff,
            rgba(255, 255, 255, 0)
        );
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .socials {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--spacing-sm);
        }
    }

    .credits {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: var(--spacing-xxl);
    }

    .download {
        text-decoration: underline;
    }
}
