.header {
    background: transparent;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            padding: var(--spacing-md) 0;
        }

        .menu ul {
            display: flex;
            gap: var(--spacing-lg);
            list-style: none;
            margin: 0;
        }
    }
}
