.projects {
    position: relative;

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: var(--spacing-xl);
    }

    .projects__content {
        width: 100%;
        display: flex;
        justify-content: flex-start;

        h2 {
            padding-top: var(--spacing-xl);

            span {
                color: var(--color-primary);
            }
        }
    }

    .projects__media {
        display: flex;
        gap: var(--spacing-md);
        padding-bottom: 150px;

        .project {
            display: flex;
            justify-content: center;
            z-index: 5;
            transition: all 0.4s ease-in-out;

            &:not(:hover) {
                filter: brightness(0.3) saturate(0);
                transform: scale(0.8);
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }

    .category {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 320px;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            position: absolute;
            color: var(--color-dark);
            font-family: var(--font-secondary);
            font-size: typo(96px, 200px);
            text-transform: uppercase;
            letter-spacing: 40%;
            opacity: 0;
            margin: 0;
            transition: all 0.4s ease-in-out;
            z-index: 1;
        }
    }

    .project:nth-child(1):hover ~ .category p {
        opacity: 0;
    }

    .project:nth-child(1):hover ~ .category p.design {
        opacity: 1;
    }

    .project:nth-child(2):hover ~ .category p {
        opacity: 0;
    }

    .project:nth-child(2):hover ~ .category p.web {
        opacity: 1;
    }

    .project:nth-child(3):hover ~ .category p {
        opacity: 0;
    }

    .project:nth-child(3):hover ~ .category p.video {
        opacity: 1;
    }
}
