/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Bricolage Grotesque', sans-serif;
    --font-secondary: 'Dela Gothic One', sans-serif;

    --font-size-content: #{typo(16px, 18px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(36px, 96px)};
    --font-size-h2: #{typo(32px, 80px)};
    --font-size-h3: #{typo(24px, 64px)};
}

.surtitle {
    font-size: typo(14px, 32px);
    font-weight: 500;
    margin: 0;

    span {
        color: var(--color-primary);
    }
}

.big-p {
    font-size: typo(20px, 24px);
    font-weight: 500;
    margin: 0;

    span {
        color: var(--color-primary);
    }
}

.button-p {
    font-size: typo(20px, 32px);
}
