{% include '_partials/_header.html' %}

<!-- Section 404 -->
<section class="error-404">
    <div class="wrapper">
        <h1>
            Page
            <span>introuvable</span>
        </h1>
        <p>
            Désolé, la page que vous recherchez est introuvable. Elle a peut-être été déplacée, supprimée ou n’a jamais existé. Retournez à la page d’accueil
            pour continuer votre visite.
        </p>
        <a href="/" class="btn-text button-p">Retourner à l'accueil</a>
    </div>
</section>

{% include '_partials/_footer.html' %}
