{% include '_partials/_header.html' %}

<section class="hero-apropos">
    <div class="wrapper">
        <div class="hero__content">
            <p class="surtitle">
                Designer
                <span>polyvalent</span>
            </p>
            <h1>Juan Corach</h1>
        </div>
        <div class="hero__media">
            <img src="assets/images/photo-jc.png" alt="Photo de Juan Corach" />
        </div>
    </div>
</section>

<section class="profil">
    <div class="wrapper">
        <h2>
            Mon
            <span>profil</span>
        </h2>
        <div class="grid">
            <div class="left">
                <div class="hard-skills">
                    <p class="surtitle">Compétences</p>
                    <nav>
                        <ul>
                            <li>Design web</li>
                            <li>Design UI/UX</li>
                            <li>Design graphique</li>
                            <li>Intégration web</li>
                            <li>Création vidéo</li>
                        </ul>
                    </nav>
                </div>
                <div class="soft-skills">
                    <p class="surtitle">Qualités humaines</p>
                    <nav>
                        <ul>
                            <li>Organisé</li>
                            <li>Ouvert à la critique</li>
                            <li>Souci du détail</li>
                            <li>Ambitieux</li>
                            <li>Curieux</li>
                            <li>Travail d'équipe</li>
                            <li>Persévérant</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="middle">
                <div class="swiper" data-component="Carousel" data-autoplay data-loop>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="assets/images/carousel-img.jpg" alt="Match de soccer" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/carousel-img2.jpg" alt="Vélo au Brésil" />
                        </div>
                        <div class="swiper-slide">
                            <video autoplay loop muted src="assets/videos/carousel-vid.mp4"></video>
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/carousel-img4.jpg" alt="Ma copine et moi" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/carousel-img5.jpg" alt="Concert Travis Scott" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/carousel-img6.jpg" alt="Plat burger" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/carousel-img7.jpg" alt="Lexus dans le noir" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/carousel-img8.jpg" alt="Plage de Cuba" />
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="right">
                <div class="tools">
                    <p class="surtitle">Mes outils</p>
                    <div class="softwares">
                        <a href="https://www.figma.com/" target="_blank" class="software">
                            <svg class="icon">
                                <use href="#icon-figma"></use>
                            </svg>
                        </a>
                        <a href="https://code.visualstudio.com/" target="_blank" class="software">
                            <svg class="icon">
                                <use href="#icon-vscode"></use>
                            </svg>
                        </a>
                        <a href="https://code.visualstudio.com/docs/languages/html" target="_blank" class="software">
                            <svg class="icon">
                                <use href="#icon-html"></use>
                            </svg>
                        </a>
                        <a href="https://code.visualstudio.com/docs/languages/css" target="_blank" class="software">
                            <svg class="icon">
                                <use href="#icon-css"></use>
                            </svg>
                        </a>
                        <a href="https://wordpress.com/" target="_blank" class="software">
                            <svg class="icon">
                                <use href="#icon-wordpress"></use>
                            </svg>
                        </a>
                        <a href="https://codepen.io/" target="_blank" class="software">
                            <svg class="icon">
                                <use href="#icon-codepen"></use>
                            </svg>
                        </a>
                        <a href="https://github.com/" target="_blank" class="software">
                            <svg class="icon">
                                <use href="#icon-github"></use>
                            </svg>
                        </a>
                        <a href="https://www.adobe.com/ca_fr/products/photoshop.html" target="_blank" class="software">
                            <svg class="icon">
                                <use href="#icon-photoshop"></use>
                            </svg>
                        </a>
                        <a href="https://www.adobe.com/ca/products/aftereffects.html" target="_blank" class="software">
                            <svg class="icon">
                                <use href="#icon-aftereffects"></use>
                            </svg>
                        </a>
                        <a href="https://www.adobe.com/ca/products/aftereffects.html" target="_blank" class="software">
                            <svg class="icon">
                                <use href="#icon-premiere"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="contact-me">
                    <p class="big-p">
                        Intéressez pour
                        <br />
                        travailler ensemble?
                    </p>
                    <p class="contact-text">
                        <span>Discutons</span>
                        -en
                    </p>
                    <div class="btn-circle">
                        <svg class="icon">
                            <use href="#icon-arrow"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
