{% include '_partials/_header.html' %}

<div id="smooth-wrapper" data-component="Scroller" data-pin-items="true">
    <div id="smooth-content">
        <!-- Page à propos -->
        <section class="hero-apropos">
            <div class="wrapper">
                <div class="hero__content">
                    <p class="surtitle">
                        Designer
                        <span>polyvalent</span>
                    </p>
                    <h1>Juan Corach</h1>
                </div>
                <div class="hero__media">
                    <img src="assets/images/photo-jc.webp" alt="Photo de Juan Corach" />
                </div>
            </div>
        </section>

        <section class="profil">
            <div class="wrapper">
                <h2>
                    Mon
                    <span>profil</span>
                </h2>
                <div class="video-presentation">
                    <iframe
                        src="https://www.youtube.com/embed/0FCphJ8R_Cs?si=Xtr_-ogZsaXQ1P3v&vq=hd1080&rel=0"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen
                    ></iframe>
                </div>
                <div class="grid">
                    <div class="left">
                        <div class="hard-skills">
                            <p class="big-p">Compétences</p>
                            <nav>
                                <ul>
                                    <li>Design web</li>
                                    <li>Design UI/UX</li>
                                    <li>Design graphique</li>
                                    <li>Intégration web</li>
                                    <li>Création vidéo</li>
                                </ul>
                            </nav>
                        </div>
                        <div class="soft-skills">
                            <p class="big-p">Qualités humaines</p>
                            <nav>
                                <ul>
                                    <li>Organisé</li>
                                    <li>Ouvert à la critique</li>
                                    <li>Souci du détail</li>
                                    <li>Ambitieux</li>
                                    <li>Curieux</li>
                                    <li>Travail d'équipe</li>
                                    <li>Persévérant</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="middle">
                        <div class="swiper" data-component="Carousel" data-autoplay data-loop>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="assets/images/carousel-img.webp" alt="Match de soccer" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="assets/images/carousel-img2.webp" alt="Vélo au Brésil" />
                                </div>
                                <div class="swiper-slide">
                                    <video autoplay loop muted playsinline webkit-playsinline preload="auto" src="assets/videos/carousel-vid.MOV"></video>
                                </div>
                                <div class="swiper-slide">
                                    <img src="assets/images/carousel-img4.webp" alt="Ma copine et moi" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="assets/images/carousel-img5.webp" alt="Concert Travis Scott" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="assets/images/carousel-img6.webp" alt="Plat burger" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="assets/images/carousel-img7.webp" alt="Lexus dans le noir" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="assets/images/carousel-img8.webp" alt="Plage de Cuba" />
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="tools">
                            <p class="big-p">Mes outils</p>
                            <div class="softwares">
                                <a href="https://www.figma.com/" target="_blank" class="software">
                                    <span class="tooltiptext">Figma</span>
                                    <svg class="icon">
                                        <use href="#icon-figma"></use>
                                    </svg>
                                </a>
                                <a href="https://code.visualstudio.com/" target="_blank" class="software">
                                    <span class="tooltiptext">VS Code</span>
                                    <svg class="icon">
                                        <use href="#icon-vscode"></use>
                                    </svg>
                                </a>
                                <a href="https://code.visualstudio.com/docs/languages/html" target="_blank" class="software">
                                    <span class="tooltiptext">HTML</span>
                                    <svg class="icon">
                                        <use href="#icon-html"></use>
                                    </svg>
                                </a>
                                <a href="https://code.visualstudio.com/docs/languages/css" target="_blank" class="software">
                                    <span class="tooltiptext">CSS</span>
                                    <svg class="icon">
                                        <use href="#icon-css"></use>
                                    </svg>
                                </a>
                                <a href="https://wordpress.com/" target="_blank" class="software">
                                    <span class="tooltiptext">Wordpress</span>
                                    <svg class="icon">
                                        <use href="#icon-wordpress"></use>
                                    </svg>
                                </a>
                                <a href="https://codepen.io/" target="_blank" class="software">
                                    <span class="tooltiptext">CodePen</span>
                                    <svg class="icon">
                                        <use href="#icon-codepen"></use>
                                    </svg>
                                </a>
                                <a href="https://github.com/" target="_blank" class="software">
                                    <span class="tooltiptext">GitHub</span>
                                    <svg class="icon">
                                        <use href="#icon-github"></use>
                                    </svg>
                                </a>
                                <a href="https://www.adobe.com/ca_fr/products/photoshop.html" target="_blank" class="software">
                                    <span class="tooltiptext">Photoshop</span>
                                    <svg class="icon">
                                        <use href="#icon-photoshop"></use>
                                    </svg>
                                </a>
                                <a href="https://www.adobe.com/ca/products/aftereffects.html" target="_blank" class="software">
                                    <span class="tooltiptext">After Effects</span>
                                    <svg class="icon">
                                        <use href="#icon-aftereffects"></use>
                                    </svg>
                                </a>
                                <a
                                    href="https://www.adobe.com/ca/creativecloud/business/teams/premiere-pro.html?sdid=HCS3XDRL&mv=search&mv2=paidsearch&ef_id=CjwKCAjwjffHBhBuEiwAKMb8pOCplvYAvx3g5_TPKVjFtrblFP4yAqaw6NZvo-2lXwXbA3EGW7_RWBoCOrcQAvD_BwE:G:s&s_kwcid=AL!3085!3!692412186661!e!!g!!premiere%20pro!23102418695!189401135689&gad_source=1&gad_campaignid=23102418695&gbraid=0AAAAA9X6onmEQJzAcr18-ADCjRwkYpcBg&gclid=CjwKCAjwjffHBhBuEiwAKMb8pOCplvYAvx3g5_TPKVjFtrblFP4yAqaw6NZvo-2lXwXbA3EGW7_RWBoCOrcQAvD_BwE"
                                    target="_blank"
                                    class="software"
                                >
                                    <span class="tooltiptext">Premiere</span>
                                    <svg class="icon">
                                        <use href="#icon-premiere"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="contact-me">
                            <p class="big-p">
                                Intéressé pour
                                <br />
                                travailler ensemble?
                            </p>
                            <p class="contact-text">
                                <span>Discutons</span>
                                -en
                            </p>
                            <a href="/contact" class="btn-circle">
                                <svg class="icon">
                                    <use href="#icon-arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="awards">
            <div class="wrapper">
                <h2>
                    Mes
                    <span>prix</span>
                </h2>
                <div class="grid">
                    <div class="awards__media">
                        <img src="assets/images/webjam-pic.webp" alt="Photo du prix au Webjam" />
                    </div>
                    <div class="awards__content">
                        <h3>
                            Webjam -
                            <span>Plus beau design</span>
                        </h3>
                        <p>
                            Lors de la compétition collégiale WebJam, qui consistait à concevoir un site web complet en 36 heures, mon équipe et moi avons
                            remporté le prix du meilleur design. En tant que responsable du design du site, j’ai élaboré la direction artistique et les
                            maquettes visuelles, en veillant à créer une interface cohérente, esthétique et fonctionnelle. Ce prix, décerné par un jury composé
                            de professionnels de l’industrie et de nos professeurs, souligne la qualité visuelle et l’originalité de notre projet réalisé dans
                            un contexte intensif et collaboratif.
                        </p>
                        <a href="/web2" class="btn-text button-p">Voir le projet</a>
                    </div>
                </div>
            </div>
        </section>

        {% include '_partials/_footer.html' %}
    </div>
</div>
