{% include '_partials/_header.html' %}

<section class="hero-apropos">
    <div class="wrapper">
        <div class="hero__content">
            <p class="surtitle">
                Designer
                <span>polyvalent</span>
            </p>
            <h1>Juan Corach</h1>
        </div>
        <div class="hero__media">
            <img src="assets/images/photo-jc.png" alt="Photo de Juan Corach" />
        </div>
    </div>
</section>

<section class="profil">
    <div class="wrapper">
        <h2>
            Mon
            <span>profil</span>
        </h2>
        <div class="grid">
            <div class="left">
                <div class="hard-skills">
                    <p class="surtitle">Compétences</p>
                    <nav>
                        <ul>
                            <li>Design web</li>
                            <li>Design UI/UX</li>
                            <li>Design graphique</li>
                            <li>Intégration web</li>
                            <li>Création vidéo</li>
                        </ul>
                    </nav>
                </div>
                <div class="soft-skills">
                    <p class="surtitle">Qualités humaines</p>
                    <nav>
                        <ul>
                            <li>Organisé</li>
                            <li>Ouvert à la critique</li>
                            <li>Souci du détail</li>
                            <li>Ambitieux</li>
                            <li>Curieux</li>
                            <li>Travail d'équipe</li>
                            <li>Persévérant</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="middle">
                <div class="swiper" data-component="Carousel" data-autoplay data-loop>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="assets/images/project-card.png" alt="Photo de famille" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/images/project-card2.png" alt="Photo de famille" />
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
