<div id="smooth-wrapper" data-component="Scroller" data-pin-items="true">
    <div id="smooth-content">
        {% include '_partials/_header.html' %}

        <section class="hero-project">
            <div class="wrapper">
                <div class="hero__content">
                    <p class="surtitle">
                        Projet
                        <span>étudiant | 2025</span>
                    </p>
                    <h1>Archipel</h1>
                </div>
                <div class="hero__media">
                    <img src="assets/images/design2-mockup.png" alt="Mockup de téléphone" />
                </div>
            </div>
            <div class="hero__bg">
                <img src="assets/images/fond-hero2.png" alt="Fond hero" />
            </div>
        </section>

        <section class="project-info">
            <div class="wrapper">
                <h2>
                    C'est quoi le
                    <span>projet?</span>
                </h2>
                <div class="context">
                    <div class="content__media">
                        <img src="assets/images/design2-mockups.png" alt="2 mockups de tablettes" />
                    </div>
                    <div class="context__content">
                        <h3>
                            Contexte du
                            <span>projet</span>
                        </h3>
                        <p>
                            Ce projet avait pour objectif de concevoir une application de curation de contenu autour d’un sujet libre. J’ai choisi de mettre en
                            valeur différentes îles du monde — volcaniques, sauvages, à l’eau cristalline et abritant une faune diversifiée — en regroupant du
                            contenu provenant de sites de voyage recommandés. Pour structurer l’expérience, j’ai d’abord réalisé les wireframes, puis j’ai conçu
                            les maquettes visuelles et le prototypage interactif dans un format adapté à la tablette afin d’offrir une interface immersive et
                            intuitive. Ce projet m’a permis de développer mes compétences en design d’interface (UI), en hiérarchisation de contenu et en
                            conception centrée sur l’utilisateur, tout en traduisant une thématique inspirante en une expérience numérique fluide et engageante.
                        </p>
                        <a
                            href="https://www.figma.com/proto/jyttIEr5kYc8IrvU8W7qEf/1011_corach_juan_TP3--Copy-?page-id=1260%3A199&node-id=4150-2772&viewport=410%2C380%2C0.08&t=gmwCYBieWh4O7f6i-1&scaling=scale-down&content-scaling=fixed&starting-point-node-id=4143%3A1265"
                            target="_blank"
                            class="btn-text button-p"
                        >
                            Tester le jeu
                        </a>
                    </div>
                </div>
                <div class="extra-info">
                    <div class="info">
                        <p class="surtitle">
                            Type de
                            <span>projet</span>
                        </p>
                        <div class="line"></div>
                        <p>Design UI</p>
                    </div>
                    <div class="info">
                        <p class="surtitle">
                            Langages/
                            <span>logiciels</span>
                        </p>
                        <div class="line"></div>
                        <p>Figma</p>
                    </div>
                    <div class="info">
                        <p class="surtitle">
                            Crédits du
                            <span>projet</span>
                        </p>
                        <div class="line"></div>
                        <p>
                            Idéation et création:
                            <br />
                            Juan Corach
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section--horiz js-horiz creation">
            <div class="wrapper">
                <h2>
                    Processus
                    <span>créatif</span>
                </h2>

                <div class="cards">
                    <div class="section__content js-panel">
                        <div class="step">
                            <div class="step__media">
                                <img src="assets/images/moodboard.png" alt="Inspiratione et moodboard" />
                            </div>
                            <div class="step__content">
                                <div class="surtitle">
                                    Inspiration &
                                    <span>Moodboard</span>
                                </div>
                                <p>
                                    Pour amorcer le projet, je me suis inspiré de différents sites liés aux voyages et au tourisme afin d’identifier des
                                    tendances visuelles. J’ai ensuite créé un moodboard regroupant des typographies, des palettes de couleurs, des textures et
                                    des éléments UI qui ont servi de base à l’identité visuelle de l’application.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="section__content js-panel">
                        <div class="step">
                            <div class="step__media">
                                <img src="assets/images/wireframes2.png" alt="Wireframes" />
                            </div>
                            <div class="step__content">
                                <div class="surtitle">
                                    Wireframes &
                                    <span>Arborescence</span>
                                </div>
                                <p>
                                    J’ai conçu la structure des pages et défini la navigation entre elles à travers des wireframes. Cette étape visait à établir
                                    une mise en page claire et logique, sans intégrer de style visuel comme les couleurs ou la typographie.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="section__content js-panel">
                        <div class="step">
                            <div class="step__media">
                                <img src="assets/images/hifi-design2.png" alt="HI-FI Design" />
                            </div>
                            <div class="step__content">
                                <div class="surtitle">
                                    Design
                                    <span>HI-FI</span>
                                </div>
                                <p>
                                    Une fois la structure définie, j’ai appliqué mes choix stylistiques en matière de typographie, de couleurs et d’éléments
                                    graphiques. J’ai ainsi réalisé le design hi-fi complet de l’application pour créer une interface attrayante et cohérente.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="section__content js-panel">
                        <div class="step">
                            <div class="step__media">
                                <img src="assets/images/prototype2.png" alt="Prototypage" />
                            </div>
                            <div class="step__content">
                                <div class="surtitle">Prototypage</div>
                                <p>
                                    Enfin, j’ai rendu l’application interactive en intégrant la navigation, les animations et les transitions. Cette étape a
                                    permis de simuler une expérience fluide et dynamique, proche d’un produit final.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="next-project">
            <div class="wrapper">
                <div class="project">
                    <div class="project__media">
                        <img src="assets/images/design-card.png" alt="Mockup projet suivant" />
                    </div>
                    <div class="project__content">
                        <p class="surtitle">
                            Projet
                            <span>étudiant | 2025</span>
                        </p>
                        <h1>
                            Capitaine
                            <span>plumard</span>
                        </h1>
                    </div>
                </div>
                <a href="design.html" class="btn-text button-p">Voir prochain design</a>
            </div>
        </section>

        {% include '_partials/_footer.html' %}
    </div>
</div>

<div class="bg"></div>
