{% include '_partials/_header.html' %}

<section class="hero">
    <div class="wrapper">
        <div class="hero__content">
            <p class="surtitle">Juan Corach</p>
            <h1 class="tagline">
                Designer
                <span>
                    <span>polyvalent</span>
                    <span>graphique</span>
                    <span>web</span>
                    <span>vidéo</span>
                </span>
            </h1>
            <div class="line"></div>
        </div>
        <a href="#projets" class="circle-button">
            <div class="button-text">
                <p class="big-p">VOIR</p>
                <span>PROJETS</span>
            </div>
        </a>
    </div>
    <div class="hero__media">
        <img src="assets/images/fond-hero.png" alt="Image de fond" />
    </div>
</section>

<div class="bg"></div>

{% include '_partials/_footer.html' %}
