{% include '_partials/_header.html' %}

<section class="hero">
    <div class="wrapper">
        <div class="hero__content">
            <p class="surtitle">Juan Corach</p>
            <h1 class="tagline">
                Designer
                <span>
                    <span>polyvalent</span>
                    <span>graphique</span>
                    <span>web</span>
                    <span>vidéo</span>
                </span>
            </h1>
            <div class="line"></div>
        </div>
    </div>
</section>

<div class="bg"></div>

{% include '_partials/_footer.html' %}
