<div id="smooth-wrapper" data-component="Scroller" data-pin-items="true">
    <div id="smooth-content">
        {% include '_partials/_header.html' %}

        <section class="section section--horiz js-horiz" id="design">
            <div class="wrapper">
                <h2>
                    Projets
                    <span>design</span>
                </h2>

                <div class="cards">
                    <div class="section__content js-panel">
                        <a href="project.html" class="card">
                            <div class="card__media">
                                <img src="assets/images/design-card.png" alt="" />
                            </div>
                            <div class="card__content">
                                <p class="surtitle">
                                    Projet
                                    <span>étudiant | 2025</span>
                                </p>
                                <h3>Capitaine Plumard</h3>
                                <div class="categories">
                                    <div class="category">Design UI/UX</div>
                                    <div class="category">Prototypage</div>
                                    <div class="category">Mobile</div>
                                </div>
                                <p>
                                    Conception d’un jeu mobile ludique de réalité augmentée créer par rapport aux attentes d’un persona, un jeune garçon âgé de
                                    10 ans.
                                </p>
                                <div class="btn-text button-p">Voir plus</div>
                            </div>
                        </a>
                    </div>
                    <div class="section__content js-panel">
                        <a href="project.html" class="card">
                            <div class="card__media">
                                <img src="assets/images/design-card2.png" alt="" />
                            </div>
                            <div class="card__content">
                                <p class="surtitle">
                                    Projet
                                    <span>étudiant | 2024</span>
                                </p>
                                <h3>Archipel</h3>
                                <div class="categories">
                                    <div class="category">Design d'interface</div>
                                    <div class="category">Prototypage</div>
                                </div>
                                <p>
                                    Conception d’une application de curation de contenu sur les différentes îles du monde (volcaniques, paradisiaques,
                                    exotiques, etc.) offrant une expérience d’exploration visuelle et immersive.
                                </p>
                                <div class="btn-text button-p">Voir plus</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section--horiz js-horiz" id="web">
            <div class="wrapper">
                <h2>
                    Projets
                    <span>web</span>
                </h2>

                <div class="cards">
                    <div class="section__content js-panel">
                        <a href="project.html" class="card">
                            <div class="card__media">
                                <img src="assets/images/web-card.png" alt="" />
                            </div>
                            <div class="card__content">
                                <p class="surtitle">
                                    Projet
                                    <span>professionnel | 2025</span>
                                </p>
                                <h3>Movedizo</h3>
                                <div class="categories">
                                    <div class="category">Design web</div>
                                    <div class="category">Wordpress</div>
                                    <div class="category">Responsive</div>
                                </div>
                                <p>Création d’un site web pour une compagnie offrant des programmes d’éducation physique aux garderies.</p>
                                <div class="btn-text button-p">Voir plus</div>
                            </div>
                        </a>
                    </div>
                    <div class="section__content js-panel">
                        <a href="project.html" class="card">
                            <div class="card__media">
                                <img src="assets/images/web-card2.png" alt="" />
                            </div>
                            <div class="card__content">
                                <p class="surtitle">
                                    Projet
                                    <span>étudiant | 2025</span>
                                </p>
                                <h3>Baie-Sainte-Catherine</h3>
                                <div class="categories">
                                    <div class="category">Design UI/UX</div>
                                    <div class="category">Design web</div>
                                    <div class="category">HTML/CSS/JS</div>
                                    <div class="category">Responsive</div>
                                </div>
                                <p>
                                    Refonte du site web de la municipalité de Baie-Sainte-Catherine, conçue à partir d’une démarche d’idéation et de design
                                    centrée sur les besoins des habitants, puis réalisée en site web responsive adapté à leurs usages.
                                </p>
                                <div class="btn-text button-p">Voir plus</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section--horiz js-horiz" id="video">
            <div class="wrapper">
                <h2>
                    Projets
                    <span>vidéo</span>
                </h2>

                <div class="cards">
                    <div class="section__content js-panel">
                        <a href="project.html" class="card">
                            <div class="card__media">
                                <img src="assets/images/video-card.png" alt="" />
                            </div>
                            <div class="card__content">
                                <p class="surtitle">
                                    Projet
                                    <span>professionnel | 2025</span>
                                </p>
                                <h3>Mouz auto detail</h3>
                                <div class="categories">
                                    <div class="category">Montage vidéo</div>
                                    <div class="category">Mobile</div>
                                    <div class="category">Reel Instagram</div>
                                </div>
                                <p>Montage vidéo pour une compagnie de detailing automobile publier sur Instagram comme vidéo Reel.</p>
                                <div class="btn-text button-p">Voir plus</div>
                            </div>
                        </a>
                    </div>
                    <div class="section__content js-panel">
                        <a href="project.html" class="card">
                            <div class="card__media">
                                <img src="assets/images/video-card2.png" alt="" />
                            </div>
                            <div class="card__content">
                                <p class="surtitle">
                                    Projet
                                    <span>étudiant | 2025</span>
                                </p>
                                <h3>Demo reel web</h3>
                                <div class="categories">
                                    <div class="category">Montage vidéo</div>
                                    <div class="category">Motion design</div>
                                </div>
                                <p>
                                    Réalisation d’un montage vidéo de type Demo Reel présentant le site web de Mana Yerba Maté de manière dynamique et
                                    professionnelle, avec un rythme soutenu et des transitions fluides.
                                </p>
                                <div class="btn-text button-p">Voir plus</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        {% include '_partials/_footer.html' %}
    </div>
</div>

<div class="bg"></div>
