{% include '_partials/_header.html' %}

<section class="hero">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/phone-mockup.png" alt="Mockup téléphone" />
        </div>
        <div class="hero__content">
            <p class="surtitle">
                Projet
                <span>étudiant | 2025</span>
            </p>
            <h1>
                Capitaine
                <span>plumard</span>
            </h1>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
