{% include '_partials/_header.html' %}

<div id="smooth-wrapper" data-component="Scroller" data-pin-items="true">
    <div id="smooth-content" class="page-project">
        <section class="hero-project video">
            <div class="wrapper">
                <div class="hero__media">
                    <img src="assets/images/video-mockup.png" alt="Mockup de iPhone" />
                </div>
                <div class="hero__content">
                    <p class="surtitle">
                        Projet
                        <span>professionnel | 2025</span>
                    </p>
                    <h1>
                        Mouz auto
                        <span>detail</span>
                    </h1>
                </div>
            </div>
            <div class="hero__bg">
                <img src="assets/images/video-fond.png" alt="Fond hero" />
            </div>
        </section>

        <section class="project-info">
            <div class="wrapper">
                <h2>
                    C'est quoi le
                    <span>projet?</span>
                </h2>
                <div class="context">
                    <div class="content__media">
                        <img src="assets/images/video-mockups.png" alt="2 mockups de téléphone" />
                    </div>
                    <div class="context__content">
                        <h3>
                            Contexte du
                            <span>projet</span>
                        </h3>
                        <p>
                            Ce projet consistait à réaliser une vidéo promotionnelle pour une entreprise spécialisée dans les services d’esthétique automobile.
                            L’objectif était de mettre en valeur la qualité et le savoir-faire de l’entreprise à travers un montage dynamique destiné à la
                            diffusion sur les réseaux sociaux, principalement Instagram. J’ai pris en charge l’ensemble du processus, de la captation vidéo sur
                            place jusqu’au montage final, en veillant à créer un rendu professionnel, rythmé et adapté au format des plateformes sociales. Ce
                            projet m’a permis d’approfondir mes compétences en tournage et en montage vidéo, tout en développant mon sens du cadrage, du rythme
                            et de la narration visuelle.
                        </p>
                        <a
                            href="https://www.instagram.com/reel/DNULDG7s9YK/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=="
                            target="_blank"
                            class="btn-text button-p"
                        >
                            Voir la vidéo
                        </a>
                    </div>
                </div>
                <div class="extra-info">
                    <div class="info">
                        <p class="surtitle">
                            Type de
                            <span>projet</span>
                        </p>
                        <div class="line"></div>
                        <p>Montage vidéo</p>
                    </div>
                    <div class="info">
                        <p class="surtitle">
                            Langages/
                            <span>logiciels</span>
                        </p>
                        <div class="line"></div>
                        <p>Adobe After Effects</p>
                    </div>
                    <div class="info">
                        <p class="surtitle">
                            Crédits du
                            <span>projet</span>
                        </p>
                        <div class="line"></div>
                        <p>
                            Captation et montage vidéo par:
                            <br />
                            Juan Corach
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section--horiz js-horiz creation">
            <div class="wrapper">
                <h2>
                    Processus
                    <span>créatif</span>
                </h2>

                <div class="cards">
                    <div class="section__content js-panel">
                        <div class="step">
                            <div class="step__media">
                                <img src="assets/images/video-processus.png" alt="Guide de styles et design" />
                            </div>
                            <div class="step__content">
                                <div class="surtitle">
                                    Captation sur place –
                                    <span>filmage</span>
                                </div>
                                <p>
                                    J’ai commencé par filmer directement chez le client pendant la prestation d’esthétique automobile. À l’aide d’un téléphone
                                    et d’une caméra professionnelle, j’ai capturé des plans variés mettant en valeur la précision et la qualité du travail
                                    effectué.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="section__content js-panel">
                        <div class="step">
                            <div class="step__media">
                                <img src="assets/images/video-processus2.png" alt="HTML" />
                            </div>
                            <div class="step__content">
                                <div class="surtitle">
                                    Séléction des
                                    <span>clips</span>
                                </div>
                                <p>
                                    Après la filmation, j’ai sélectionné les meilleures séquences pour ne garder que les plans les plus dynamiques et
                                    représentatifs du savoir-faire de la compagnie. Cette étape a permis de poser la base d’un montage fluide et cohérent.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="section__content js-panel">
                        <div class="step">
                            <div class="step__media">
                                <img src="assets/images/video-processus3.png" alt="CSS" />
                            </div>
                            <div class="step__content">
                                <div class="surtitle">
                                    Montage
                                    <span>vidéo</span>
                                </div>
                                <p>
                                    J’ai ensuite assemblé les clips choisis en ajoutant des effets visuels et sonores pour dynamiser le rendu. Le rythme et les
                                    transitions ont été travaillés afin de renforcer l’impact visuel et professionnel de la vidéo.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="section__content js-panel">
                        <div class="step">
                            <div class="step__media">
                                <img src="assets/images/video-processus4.png" alt="Javascript" />
                            </div>
                            <div class="step__content">
                                <div class="surtitle">
                                    Publication sur les
                                    <span>réseaux sociaux</span>
                                </div>
                                <p>
                                    La vidéo finale, optimisée pour les réseaux sociaux (notamment les reels Instagram), a permis à la compagnie de promouvoir
                                    ses services et d’attirer de nouveaux clients grâce à un contenu visuel attrayant.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="next-project">
            <div class="wrapper">
                <div class="project">
                    <div class="project__content">
                        <p class="surtitle">
                            Projet
                            <span>étudiant | 2025</span>
                        </p>
                        <h1>
                            Demo reel
                            <span>web</span>
                        </h1>
                    </div>
                    <div class="project__media">
                        <img src="assets/images/video-card2.png" alt="Mockup projet suivant" />
                    </div>
                </div>
                <a href="video2.html" class="btn-text button-p">Voir prochain vidéo</a>
            </div>
        </section>

        {% include '_partials/_footer.html' %}
    </div>
</div>

<div class="bg"></div>
