<div id="smooth-wrapper" data-component="Scroller" data-pin-items="true">
    <div id="smooth-content">
        {% include '_partials/_header.html' %}

        <section class="hero-project">
            <div class="wrapper">
                <div class="hero__media">
                    <img src="assets/images/web-mockup.png" alt="Mockup de iMac" />
                </div>
                <div class="hero__content">
                    <p class="surtitle">
                        Projet
                        <span>professionnel | 2025</span>
                    </p>
                    <h1>Movedizo</h1>
                </div>
            </div>
            <div class="hero__bg">
                <img src="assets/images/web-fond.png" alt="Fond hero" />
            </div>
        </section>

        <section class="project-info">
            <div class="wrapper">
                <h2>
                    C'est quoi le
                    <span>projet?</span>
                </h2>
                <div class="context">
                    <div class="content__media">
                        <img src="assets/images/web-mockups.png" alt="Mockups responsive" />
                    </div>
                    <div class="context__content">
                        <h3>
                            Contexte du
                            <span>projet</span>
                        </h3>
                        <p>
                            Ce projet avait pour objectif de réaliser la refonte complète d’un site web existant pour une compagnie nommée Movedizo, un
                            programme d’éducation physique destiné aux garderies. Dans une approche professionnelle, j’ai d’abord conçu les maquettes visuelles
                            afin d’établir une direction claire pour l’identité numérique du site. J’ai ensuite développé le site en utilisant HTML, CSS et
                            JavaScript, en optant pour un design coloré et animé afin de créer une atmosphère ludique qui reflète l’univers des garderies. Ce
                            projet m’a permis de renforcer mes compétences en design web et en développement front-end, tout en répondant à de véritables
                            besoins d’un client réel.
                        </p>
                        <a href="https://movedizo.ca" target="_blank" class="btn-text button-p">Voir le site web</a>
                    </div>
                </div>
                <div class="extra-info">
                    <div class="info">
                        <p class="surtitle">
                            Type de
                            <span>projet</span>
                        </p>
                        <div class="line"></div>
                        <p>Design & intégration web</p>
                    </div>
                    <div class="info">
                        <p class="surtitle">
                            Langages/
                            <span>logiciels</span>
                        </p>
                        <div class="line"></div>
                        <p>Figma & HTML/CSS/JS</p>
                    </div>
                    <div class="info">
                        <p class="surtitle">
                            Crédits du
                            <span>projet</span>
                        </p>
                        <div class="line"></div>
                        <p>
                            Design et site web par:
                            <br />
                            Juan Corach
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section--horiz js-horiz creation">
            <div class="wrapper">
                <h2>
                    Processus
                    <span>créatif</span>
                </h2>

                <div class="cards">
                    <div class="section__content js-panel">
                        <div class="step">
                            <div class="step__media">
                                <img src="assets/images/web-processus.png" alt="Guide de styles et design" />
                            </div>
                            <div class="step__content">
                                <div class="surtitle">
                                    Guides de styles &
                                    <span>Maquettes visuelles</span>
                                </div>
                                <p>
                                    J’ai défini une palette de couleurs vives et des typographies ludiques afin de créer une ambiance dynamique et adaptée à
                                    l’univers des garderies. Les choix visuels ont été pensés pour s’harmoniser avec les images d’enfants en pleine activité
                                    physique et renforcer le caractère joyeux du site.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="section__content js-panel">
                        <div class="step">
                            <div class="step__media">
                                <img src="assets/images/web-processus2.png" alt="HTML" />
                            </div>
                            <div class="step__content">
                                <div class="surtitle">
                                    Structure du site -
                                    <span>HTML</span>
                                </div>
                                <p>
                                    J’ai structuré le code HTML de manière organisée grâce à l’utilisation de commentaires clairs et de partials pour le header
                                    et le footer. Cette méthode m’a permis de mieux naviguer dans le projet et de faciliter les ajustements au fil du
                                    développement.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="section__content js-panel">
                        <div class="step">
                            <div class="step__media">
                                <img src="assets/images/web-processus3.png" alt="CSS" />
                            </div>
                            <div class="step__content">
                                <div class="surtitle">
                                    Mise en page -
                                    <span>CSS</span>
                                </div>
                                <p>
                                    Pour les styles, j’ai utilisé plusieurs fichiers SCSS, chacun étant dédié à une section spécifique du site. D’autres
                                    fichiers géraient les éléments généraux comme la typographie, les couleurs et les dimensions, assurant ainsi une structure
                                    claire et modulable.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="section__content js-panel">
                        <div class="step">
                            <div class="step__media">
                                <img src="assets/images/web-processus4.png" alt="Javascript" />
                            </div>
                            <div class="step__content">
                                <div class="surtitle">
                                    Interactivité et dynamisme -
                                    <span>JavaScript</span>
                                </div>
                                <p>
                                    J’ai intégré des animations au site en utilisant JavaScript, en combinant des composantes apprises au cégep avec des
                                    librairies du web comme GSAP. Ces animations ont permis de rendre l’expérience plus vivante et engageante pour
                                    l’utilisateur.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="next-project">
            <div class="wrapper">
                <div class="project">
                    <div class="project__content">
                        <p class="surtitle">
                            Projet
                            <span>étudiant | 2025</span>
                        </p>
                        <h1>
                            Garmin
                            <span>Archives</span>
                        </h1>
                    </div>
                    <div class="project__media">
                        <img src="assets/images/web-card2.png" alt="Mockup projet suivant" />
                    </div>
                </div>
                <a href="web2.html" class="btn-text button-p">Voir prochain site web</a>
            </div>
        </section>

        {% include '_partials/_footer.html' %}
    </div>
</div>

<div class="bg"></div>
