<div id="smooth-wrapper" data-component="Scroller" data-pin-items="true">
    <div id="smooth-content">
        {% include '_partials/_header.html' %}

        <section class="hero-project">
            <div class="wrapper">
                <div class="hero__media">
                    <img src="assets/images/web-mockup.png" alt="Mockup de iMac" />
                </div>
                <div class="hero__content">
                    <p class="surtitle">
                        Projet
                        <span>professionnel | 2025</span>
                    </p>
                    <h1>Movedizo</h1>
                </div>
            </div>
            <div class="hero__bg">
                <img src="assets/images/fond-hero2.png" alt="Fond hero" />
            </div>
        </section>

        <section class="project-info">
            <div class="wrapper">
                <h2>
                    C'est quoi le
                    <span>projet?</span>
                </h2>
                <div class="context">
                    <div class="content__media">
                        <img src="assets/images/web-mockups.png" alt="Mockups responsive" />
                    </div>
                    <div class="context__content">
                        <h3>
                            Contexte du
                            <span>projet</span>
                        </h3>
                        <p>
                            Ce projet avait pour objectif de concevoir une application de curation de contenu autour d’un sujet libre. J’ai choisi de mettre en
                            valeur différentes îles du monde — volcaniques, sauvages, à l’eau cristalline et abritant une faune diversifiée — en regroupant du
                            contenu provenant de sites de voyage recommandés. Pour structurer l’expérience utilisateur, j’ai d’abord réalisé les wireframes,
                            puis j’ai conçu les maquettes visuelles et le prototypage interactif dans un format adapté à la tablette afin d’offrir une interface
                            immersive et intuitive. Ce projet m’a permis de développer mes compétences en UX/UI, en hiérarchisation de contenu et en conception
                            centrée sur l’utilisateur, tout en traduisant une thématique inspirante en une expérience numérique fluide et engageante.
                        </p>
                        <a href="https://movedizo.ca" target="_blank" class="btn-text button-p">Voir le site web</a>
                    </div>
                </div>
                <div class="extra-info">
                    <div class="info">
                        <p class="surtitle">
                            Type de
                            <span>projet</span>
                        </p>
                        <div class="line"></div>
                        <p>Design & intégration web</p>
                    </div>
                    <div class="info">
                        <p class="surtitle">
                            Langages/
                            <span>logiciels</span>
                        </p>
                        <div class="line"></div>
                        <p>Figma & HTML/CSS/JS</p>
                    </div>
                    <div class="info">
                        <p class="surtitle">
                            Crédits du
                            <span>projet</span>
                        </p>
                        <div class="line"></div>
                        <p>
                            Design et site web par:
                            <br />
                            Juan Corach
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section--horiz js-horiz creation">
            <div class="wrapper">
                <h2>
                    Processus
                    <span>créatif</span>
                </h2>

                <div class="cards">
                    <div class="section__content js-panel">
                        <div class="step">
                            <div class="step__media">
                                <img src="assets/images/web-processus.png" alt="Guide de styles et design" />
                            </div>
                            <div class="step__content">
                                <div class="surtitle">
                                    Guides de styles &
                                    <span>Maquettes</span>
                                </div>
                                <p>
                                    Création d’interfaces LO-FI permettant de visualiser la structure du jeu, de comprendre sur quelle page on se trouve,
                                    comment naviguer et quels éléments seront présents à l’écran.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="section__content js-panel">
                        <div class="step">
                            <div class="step__media">
                                <img src="assets/images/web-processus2.png" alt="HTML" />
                            </div>
                            <div class="step__content">
                                <div class="surtitle">HTML</div>
                                <p>
                                    Élaboration d’un moodboard pour définir l’inspiration visuelle, suivi de guides de styles regroupant la typographie, la
                                    palette de couleurs et la grille. Mise en place des composants essentiels tels que les variantes de boutons, les icônes et
                                    le gradateur pour assurer une cohérence visuelle et fonctionnelle.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="section__content js-panel">
                        <div class="step">
                            <div class="step__media">
                                <img src="assets/images/web-processus3.png" alt="CSS" />
                            </div>
                            <div class="step__content">
                                <div class="surtitle">CSS</div>
                                <p>
                                    Réalisation des maquettes haute fidélité du jeu, intégrant les choix graphiques définis dans le design system. L’accent a
                                    été mis sur la clarté, la cohérence et l’esthétique, sans passer à l’étape du prototypage.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="section__content js-panel">
                        <div class="step">
                            <div class="step__media">
                                <img src="assets/images/web-processus4.png" alt="Javascript" />
                            </div>
                            <div class="step__content">
                                <div class="surtitle">Javascript</div>
                                <p>
                                    Mise en place de la navigation entre les pages avec animations, transitions et interactions. Cette étape a permis de donner
                                    vie aux maquettes et de simuler l’expérience utilisateur complète du jeu.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="next-project">
            <div class="wrapper">
                <div class="project">
                    <div class="project__content">
                        <p class="surtitle">
                            Projet
                            <span>étudiant | 2025</span>
                        </p>
                        <h1>Garmin Archives</h1>
                    </div>
                    <div class="project__media">
                        <img src="assets/images/design-card2.png" alt="Mockup projet suivant" />
                    </div>
                </div>
                <a href="design2.html" class="btn-text button-p">Voir prochain site web</a>
            </div>
        </section>

        {% include '_partials/_footer.html' %}
    </div>
</div>

<div class="bg"></div>
