{% include '_partials/_header.html' %}

<!-- Page projet -->
<div id="smooth-wrapper" data-component="Scroller" data-pin-items="true">
    <div id="smooth-content" class="page-project">

        <section class="hero-project">
            <div class="wrapper">
                <div class="hero__media">
                    <img src="assets/images/web2-mockup.webp" alt="Mockup de laptop" />
                </div>
                <div class="hero__content">
                    <p class="surtitle">
                        Compétition
                        <span>étudiante | 2025</span>
                    </p>
                    <h1>Archives <span>Garmin</span></h1>
                </div>
            </div>
            <div class="hero__bg">
                <img src="assets/images/web2-fond.webp" alt="Fond hero" />
            </div>
        </section>

        <section class="project-info">
            <div class="wrapper">
                <h2>
                    C'est quoi le
                    <span>projet?</span>
                </h2>
                <div class="context">
                    <div class="content__media">
                        <img src="assets/images/web2-mockups.webp" alt="Mockups responsive" />
                    </div>
                    <div class="context__content">
                        <h3>
                            Contexte du
                            <span>projet</span>
                        </h3>
                        <p>
                            Ce projet étudiant et compétitif a été réalisé dans le cadre du cours de Production Web lors de la compétition WebJam, qui
                            consistait à concevoir un site web complet en seulement 36 heures en équipe. J’ai d’abord assuré la direction artistique en
                            développant les maquettes visuelles et en définissant l’identité graphique du projet. Par la suite, nous avons conçu et développé le
                            site sur WordPress, tout en intégrant du code en HTML, CSS, JavaScript et PHP afin de le rendre dynamique et interactif. Ce projet
                            m’a permis de mettre en pratique mes compétences en design web, en développement front-end et en travail collaboratif dans un
                            contexte intensif et stimulant.
                        </p>
                        <a href="https://jcorach.dectim.ca/webjam/" target="_blank" class="btn-text button-p">Voir le site web</a>
                    </div>
                </div>
                <div class="extra-info">
                    <div class="info">
                        <p class="surtitle">
                            Type de
                            <span>projet</span>
                        </p>
                        <div class="line"></div>
                        <p>Design & intégration web</p>
                    </div>
                    <div class="info">
                        <p class="surtitle">
                            Langages/
                            <span>logiciels</span>
                        </p>
                        <div class="line"></div>
                        <p>Figma & Wordpress (HTML, CSS, JS & PHP)</p>
                    </div>
                    <div class="info">
                        <p class="surtitle">
                            Crédits du
                            <span>projet</span>
                        </p>
                        <div class="line"></div>
                        <p>
                            Design par:
                            <br>
                            <ul>
                                <li>Juan Corach</li>
                                <li>Édouard Gélinas</li>
                            </ul>
                            <br />
                            Site web par:
                            <ul>
                                <li>Juan Corach</li>
                                <li>Édouard Gélinas</li>
                                <li>Derek Samson</li>
                                <li>Dzhulian Farashev</li>
                                <li>Nathan Marquis</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section--horiz js-horiz creation">
            <div class="wrapper">
                <h2>
                    Processus
                    <span>créatif</span>
                </h2>

                <div class="cards">
                    <div class="section__content js-panel">
                        <div class="step">
                            <div class="step__media">
                                <img src="assets/images/web2-processus.webp" alt="Wireframes" />
                            </div>
                            <div class="step__content">
                                <div class="big-p">Wireframes</div>
                                <p>
                                    Nous avons d’abord conçu les wireframes pour structurer la navigation du site et organiser le contenu de manière claire et intuitive. Cette étape a permis de définir la hiérarchie de l’information et de poser les bases du design visuel.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="section__content js-panel">
                        <div class="step">
                            <div class="step__media">
                                <img src="assets/images/web2-processus2.webp" alt="Maquettes du site web" />
                            </div>
                            <div class="step__content">
                                <div class="big-p">Maquettes <span>visuelles</span></div>
                                <p>
                                    J’ai conçu les maquettes dans un style dystopique inspiré de 1984, en utilisant des tons sombres et des typographies évoquant des documents confidentiels. Des collages de journaux viennent compléter le tout pour créer une atmosphère clandestine et mystérieuse.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="section__content js-panel">
                        <div class="step">
                            <div class="step__media">
                                <img src="assets/images/web2-processus3.webp" alt="Interface wordpress" />
                            </div>
                            <div class="step__content">
                                <div class="big-p">Développement <span>Wordpress</span></div>
                                <p>
                                    Une fois le design validé, nous avons intégré le site sur pour faciliter la gestion du contenu et accélérer la production. Ce CMS nous a offert la flexibilité nécessaire pour adapter rapidement les sections selon les besoins du projet.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="section__content js-panel">
                        <div class="step">
                            <div class="step__media">
                                <img src="assets/images/web2-processus4.webp" alt="Code PHP" />
                            </div>
                            <div class="step__content">
                                <div class="big-p">Intégration <span>PHP</span></div>
                                <p>
                                    Enfin, nous avons ajouté des fonctionnalités dynamiques en afin de rendre le site plus interactif et vivant. Cette étape a permis d’intégrer des éléments tels que des formulaires et des animations, optimisant l’expérience utilisateur.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="next-project">
            <div class="wrapper">
                <div class="project">
                    <div class="project__content">
                        <p class="surtitle">
                            Projet
                            <span>étudiant | 2025</span>
                        </p>
                        <h1>Movedizo</h1>
                    </div>
                    <div class="project__media">
                        <img src="assets/images/web-card.webp" alt="Mockup projet suivant" />
                    </div>
                </div>
                <a href="/web" class="btn-text button-p">Voir site web précédent</a>
            </div>
        </section>

        {% include '_partials/_footer.html' %}
    </div>
</div>

<div class="bg"></div>
